Repository corona-warn-app/cwa-server, pull requests merged in 2020-09, with the labels that each got.

#695 switch to spring cloud starter vault config 2.2.5
  pom.xml
Labels: enhancement

#733 Feature/federation builds
  common/federation/pom.xml
  common/persistence/pom.xml
  common/pom.xml
  common/protocols/pom.xml
  pom.xml
  services/callback/pom.xml
  services/distribution/pom.xml
  services/federation-download/pom.xml
  services/pom.xml
  services/submission/pom.xml
  services/upload/Dockerfile
  services/upload/pom.xml
Labels: federation

#734 update test secrets and script to generate keys
  docker-compose-test-secrets/cert.pem
  docker-compose-test-secrets/efgs_privatekey.pem
  docker-compose-test-secrets/efgs_publickey.pem
  docker-compose-test-secrets/efgs_signing_cert.pem
  docker-compose-test-secrets/efgs_signing_key.pem
  docker-compose-test-secrets/efgs_thumbprint.txt
  docker-compose-test-secrets/efgs_x509_thumbprint.txt
  scripts/generate_keys.sh
Labels: federation

#732 Upload batch determination
  services/upload/src/main/java/app/coronawarn/server/services/federation/upload/config/UploadServiceConfig.java
  services/upload/src/main/java/app/coronawarn/server/services/federation/upload/payload/DiagnosisKeyBatchAssembler.java
  services/upload/src/main/resources/application.yaml
  services/upload/src/test/java/app/coronawarn/server/services/federation/upload/payload/DiagnosisKeyBatchAssemblerTest.java
  services/upload/src/test/resources/application.yaml
Labels: federation

#741 Only upload keys which conform to the expiration policies
  common/persistence/src/main/java/app/coronawarn/server/common/persistence/domain/DiagnosisKey.java
  common/persistence/src/main/java/app/coronawarn/server/common/persistence/service/FederationUploadKeyService.java
  common/persistence/src/main/java/app/coronawarn/server/common/persistence/service/common/ExpirationPolicy.java
  common/persistence/src/main/java/app/coronawarn/server/common/persistence/service/common/KeySharingPoliciesChecker.java
  common/persistence/src/main/java/app/coronawarn/server/common/persistence/service/common/ValidDiagnosisKeyFilter.java
  common/persistence/src/test/java/app/coronawarn/server/common/persistence/TestApplication.java
  common/persistence/src/test/java/app/coronawarn/server/common/persistence/service/DiagnosisKeyServiceTestHelper.java
  common/persistence/src/test/java/app/coronawarn/server/common/persistence/service/FederationUploadKeyServiceTest.java
  common/persistence/src/test/java/app/coronawarn/server/common/persistence/service/common/DiagnosisKeyExpirationCheckerTest.java
  services/distribution/src/main/java/app/coronawarn/server/services/distribution/assembly/diagnosiskeys/ProdDiagnosisKeyBundler.java
  services/distribution/src/test/java/app/coronawarn/server/services/distribution/assembly/component/DiagnosisKeysStructureProviderTest.java
  services/distribution/src/test/java/app/coronawarn/server/services/distribution/assembly/diagnosiskeys/ProdDiagnosisKeyBundlerExpiryPolicyTest.java
  services/distribution/src/test/java/app/coronawarn/server/services/distribution/assembly/diagnosiskeys/ProdDiagnosisKeyBundlerKeyRetrievalTest.java
  services/distribution/src/test/java/app/coronawarn/server/services/distribution/assembly/diagnosiskeys/ProdDiagnosisKeyBundlerShiftingPolicyTest.java
  services/distribution/src/test/java/app/coronawarn/server/services/distribution/assembly/diagnosiskeys/structure/directory/DiagnosisKeysDateDirectoryTest.java
  services/distribution/src/test/java/app/coronawarn/server/services/distribution/assembly/diagnosiskeys/structure/directory/DiagnosisKeysDirectoryTest.java
  services/distribution/src/test/java/app/coronawarn/server/services/distribution/assembly/diagnosiskeys/structure/directory/DiagnosisKeysHourDirectoryTest.java
  services/distribution/src/test/java/app/coronawarn/server/services/distribution/assembly/diagnosiskeys/structure/directory/decorator/DateIndexingDecoratorTest.java
  services/distribution/src/test/java/app/coronawarn/server/services/distribution/assembly/diagnosiskeys/structure/directory/decorator/HourIndexingDecoratorTest.java
  services/upload/src/main/java/app/coronawarn/server/services/federation/upload/config/UploadServiceConfig.java
  services/upload/src/main/java/app/coronawarn/server/services/federation/upload/keys/DiagnosisKeyPersistenceLoader.java
  services/upload/src/main/resources/application.yaml
  services/upload/src/test/java/app/coronawarn/server/services/federation/upload/runner/UploadTest.java
  services/upload/src/test/resources/application.yaml
Labels: federation

#740 Upload Test Generation
  services/upload/src/main/java/app/coronawarn/server/services/federation/upload/Application.java
  services/upload/src/main/java/app/coronawarn/server/services/federation/upload/config/UploadServiceConfig.java
  services/upload/src/main/java/app/coronawarn/server/services/federation/upload/keys/DiagnosisKeyGenerator.java
  services/upload/src/main/java/app/coronawarn/server/services/federation/upload/keys/DiagnosisKeyPersistenceLoader.java
  services/upload/src/main/java/app/coronawarn/server/services/federation/upload/runner/TestDataGeneration.java
  services/upload/src/main/java/app/coronawarn/server/services/federation/upload/testdata/TestDataUploadRepository.java
  services/upload/src/main/resources/application-testdata.yaml
  services/upload/src/main/resources/application.yaml
  services/upload/src/test/java/app/coronawarn/server/services/federation/upload/integration/DiagnosisKeyReplicationIT.java
  services/upload/src/test/java/app/coronawarn/server/services/federation/upload/payload/PayloadFactoryTest.java
  services/upload/src/test/java/app/coronawarn/server/services/federation/upload/payload/helper/PersistenceKeysGenerator.java
  services/upload/src/test/java/app/coronawarn/server/services/federation/upload/payload/signing/BatchSignerTest.java
  services/upload/src/test/java/app/coronawarn/server/services/federation/upload/runner/UploadTest.java
  services/upload/src/test/java/app/coronawarn/server/services/federation/upload/utils/BatchMockData.java
  services/upload/src/test/java/app/coronawarn/server/services/federation/upload/utils/PersistenceMockData.java
  services/upload/src/test/java/app/coronawarn/server/services/federation/upload/utils/SecretResourceMockData.java
  services/upload/src/test/resources/application-integration-test.yaml
  services/upload/src/test/resources/application-testdata.yaml
  services/upload/src/test/resources/application.yaml
Labels: federation

#738 Feature/federation builds
  .gitignore
  common/federation/pom.xml
  common/persistence/pom.xml
  common/persistence/src/main/java/app/coronawarn/server/common/persistence/domain/FederationBatchStatus.java
  common/pom.xml
  common/protocols/pom.xml
  common/protocols/src/main/proto/app/coronawarn/server/common/protocols/external/exposurenotification/diagnosis_key_batch.proto
  pom.xml
  services/callback/pom.xml
  services/callback/src/test/java/app/coronawarn/server/services/callback/controller/CallbackControllerTest.java
  services/distribution/pom.xml
  services/distribution/src/test/java/app/coronawarn/server/services/distribution/assembly/structure/util/TimeUtilsTest.java
  services/download/pom.xml
  services/pom.xml
  services/submission/pom.xml
  services/upload/pom.xml
  services/upload/src/main/java/app/coronawarn/server/services/federation/upload/client/FederationUploadClient.java
  services/upload/src/main/java/app/coronawarn/server/services/federation/upload/client/ProdFederationUploadClient.java
  services/upload/src/main/java/app/coronawarn/server/services/federation/upload/client/TestFederationUploadClient.java
  services/upload/src/main/java/app/coronawarn/server/services/federation/upload/config/UploadServiceConfig.java
  services/upload/src/main/java/app/coronawarn/server/services/federation/upload/keys/DiagnosisKeyLoader.java
  services/upload/src/main/java/app/coronawarn/server/services/federation/upload/keys/DiagnosisKeyPersistenceLoader.java
  services/upload/src/main/java/app/coronawarn/server/services/federation/upload/payload/DiagnosisKeyBatchAssembler.java
  services/upload/src/main/java/app/coronawarn/server/services/federation/upload/payload/PayloadFactory.java
  services/upload/src/main/java/app/coronawarn/server/services/federation/upload/payload/UploadPayload.java
  services/upload/src/main/java/app/coronawarn/server/services/federation/upload/payload/signing/BatchSigner.java
  services/upload/src/main/java/app/coronawarn/server/services/federation/upload/payload/signing/CryptoProvider.java
  services/upload/src/main/java/app/coronawarn/server/services/federation/upload/runner/TestDataGeneration.java
  services/upload/src/main/java/app/coronawarn/server/services/federation/upload/runner/Upload.java
  services/upload/src/main/java/app/coronawarn/server/services/federation/upload/testdata/TestDataUploadRepository.java
  services/upload/src/test/java/app/coronawarn/server/services/federation/upload/payload/PayloadFactoryTest.java
  services/upload/src/test/java/app/coronawarn/server/services/federation/upload/payload/signing/BatchSignerTest.java
  services/upload/src/test/java/app/coronawarn/server/services/federation/upload/runner/UploadTest.java
  services/upload/src/test/java/app/coronawarn/server/services/federation/upload/utils/BatchMockData.java
  services/upload/src/test/java/app/coronawarn/server/services/federation/upload/utils/SecretResourceMockData.java
Labels: federation

#751 DEV Deployment
  common/federation/src/main/java/app/coronawarn/server/common/federation/client/FederationFeignHttpClientProvider.java
  common/federation/src/main/java/app/coronawarn/server/common/federation/client/FederationGatewayClient.java
  common/federation/src/main/java/app/coronawarn/server/common/federation/client/config/FederationGatewayConfig.java
  common/federation/src/main/java/app/coronawarn/server/common/federation/client/config/WebConfig.java
  services/download/src/main/resources/application.yaml
  services/upload/src/main/java/app/coronawarn/server/services/federation/upload/client/ProdFederationUploadClient.java
  services/upload/src/main/resources/application-testdata.yaml
  services/upload/src/main/resources/application.yaml
  services/upload/src/test/resources/application-testdata.yaml
  services/upload/src/test/resources/application.yaml
  services/upload/src/test/resources/test.p12
Labels: federation

#762 EFGS Integration fixes
  common/protocols/src/main/proto/app/coronawarn/server/common/protocols/external/exposurenotification/diagnosis_key_batch.proto
  services/upload/src/main/java/app/coronawarn/server/services/federation/upload/payload/DiagnosisKeyBatchAssembler.java
  services/upload/src/main/java/app/coronawarn/server/services/federation/upload/runner/TestDataGeneration.java
Labels: federation

#766 EFGS batch signing hotfix
  services/upload/src/main/java/app/coronawarn/server/services/federation/upload/payload/signing/BatchSigner.java
Labels: bug, federation

#770 Upload job should not startup an embedded servlet container
  services/upload/src/main/resources/application.yaml
Labels: federation

#772 Fix protobuf definition
  common/protocols/src/main/proto/app/coronawarn/server/common/protocols/external/exposurenotification/diagnosis_key_batch.proto
Labels: federation

#775 Update attenuation-duration.yaml
  services/distribution/src/main/resources/master-config/attenuation-duration.yaml
  services/distribution/src/main/resources/master-config/exposure-config.yaml
Labels: iOS13.7

#749 Condense flyway scripts for callback, download, upload
  common/persistence/src/main/resources/db/migration/V10__addBatchTagIdForUploadKeyTable.sql
  common/persistence/src/main/resources/db/migration/V3__createAndUpdateTablesForFederation.sql
  common/persistence/src/main/resources/db/migration/V3__createTablesForDownload.sql
  common/persistence/src/main/resources/db/migration/V5__updateDiagnosisKeyTableForFederation.sql
  common/persistence/src/main/resources/db/migration/V7__createFederationUploadKeyTable.sql
  common/persistence/src/main/resources/db/specific/postgresql/V4__createPermissionsForCallback.sql
  common/persistence/src/main/resources/db/specific/postgresql/V4__createPermissionsForFederation.sql
  common/persistence/src/main/resources/db/specific/postgresql/V5__createTriggersForUploadKeys.sql
  common/persistence/src/main/resources/db/specific/postgresql/V6__createPermissionsForDownload.sql
  common/persistence/src/main/resources/db/specific/postgresql/V8__createPermissionForUpload.sql
Labels: federation

#779 Externalize origin country to yaml configration as environment variable
  services/distribution/src/main/resources/application.yaml
  services/submission/src/main/resources/application.yaml
Labels: federation

#789 Catch empty response in efgs download request
  common/federation/src/main/java/app/coronawarn/server/common/federation/client/FederationGatewayClient.java
  services/download/src/main/java/app/coronawarn/server/services/download/FederationBatchProcessor.java
  services/download/src/test/java/app/coronawarn/server/services/download/FederationBatchProcessorTest.java
  services/download/src/test/java/app/coronawarn/server/services/download/FederationBatchTestHelper.java
Labels: federation

#790 use random base64 value to identify unique Upload runs
  services/upload/src/main/java/app/coronawarn/server/services/federation/upload/payload/PayloadFactory.java
Labels: federation

#786 Feature/federation dowload logging
  services/download/src/main/java/app/coronawarn/server/services/download/FederationBatchProcessor.java
Labels: federation

#791 Only pick up keys for upload which are not marked with batch tags
  common/persistence/src/main/java/app/coronawarn/server/common/persistence/repository/FederationUploadKeyRepository.java
Labels: federation

#804 On demand normalization of field values before persisting diagnosis keys
  common/persistence/src/main/java/app/coronawarn/server/common/persistence/domain/DiagnosisKeyBuilder.java
  common/persistence/src/main/java/app/coronawarn/server/common/persistence/domain/DiagnosisKeyBuilders.java
  common/persistence/src/main/java/app/coronawarn/server/common/persistence/domain/normalization/DiagnosisKeyNormalizer.java
  common/persistence/src/main/java/app/coronawarn/server/common/persistence/domain/normalization/NormalizableFields.java
  services/submission/src/main/java/app/coronawarn/server/services/submission/config/SubmissionServiceConfig.java
  services/submission/src/main/java/app/coronawarn/server/services/submission/controller/ApiExceptionHandler.java
  services/submission/src/main/java/app/coronawarn/server/services/submission/controller/SubmissionController.java
  services/submission/src/main/java/app/coronawarn/server/services/submission/normalization/SubmissionKeyNormalizer.java
  services/submission/src/main/resources/application.yaml
  services/submission/src/test/java/app/coronawarn/server/services/submission/controller/FakeRequestControllerTest.java
  services/submission/src/test/java/app/coronawarn/server/services/submission/controller/PayloadValidationTest.java
  services/submission/src/test/java/app/coronawarn/server/services/submission/controller/RequestExecutor.java
  services/submission/src/test/java/app/coronawarn/server/services/submission/controller/SubmissionControllerTest.java
  services/submission/src/test/java/app/coronawarn/server/services/submission/controller/SubmissionPayloadMockData.java
  services/submission/src/test/java/app/coronawarn/server/services/submission/controller/TEKDatasetGeneration.java
  services/submission/src/test/java/app/coronawarn/server/services/submission/normalization/SubmissionKeyNormalizerTest.java
  services/submission/src/test/resources/application.yaml
Labels: federation

#801 Feature/log submission keys
  common/persistence/src/main/java/app/coronawarn/server/common/persistence/domain/DiagnosisKey.java
  services/submission/src/main/java/app/coronawarn/server/services/submission/controller/SubmissionController.java
Labels: federation

#809 Enhance upload logging
  common/federation/src/main/java/app/coronawarn/server/common/federation/client/upload/BatchUploadResponse.java
  common/persistence/src/main/java/app/coronawarn/server/common/persistence/service/FederationUploadKeyService.java
  services/upload/src/main/java/app/coronawarn/server/services/federation/upload/runner/Upload.java
  services/upload/src/main/resources/application-dev.yaml
Labels: federation, infrastructure changes required

#813 Added initial TRL from DSOS derivation map and implementation
  common/persistence/src/main/java/app/coronawarn/server/common/persistence/domain/normalization/DiagnosisKeyNormalizer.java
  services/submission/src/main/java/app/coronawarn/server/services/submission/config/SubmissionServiceConfig.java
  services/submission/src/main/java/app/coronawarn/server/services/submission/normalization/SubmissionKeyNormalizer.java
  services/submission/src/main/resources/application.yaml
  services/submission/src/test/java/app/coronawarn/server/services/submission/controller/SubmissionControllerTest.java
  services/submission/src/test/java/app/coronawarn/server/services/submission/controller/SubmissionPayloadMockData.java
  services/submission/src/test/java/app/coronawarn/server/services/submission/normalization/SubmissionKeyNormalizerTest.java
  services/submission/src/test/resources/application.yaml
  services/upload/src/main/java/app/coronawarn/server/services/federation/upload/payload/DiagnosisKeyBatchAssembler.java
  services/upload/src/main/java/app/coronawarn/server/services/federation/upload/payload/signing/BatchSigner.java
Labels: federation

#814 [Download-Service]Derive TRL using DSOS
  common/persistence/src/main/java/app/coronawarn/server/common/persistence/domain/DiagnosisKeyBuilder.java
  common/persistence/src/test/java/app/coronawarn/server/common/persistence/domain/DiagnosisKeyBuilderTest.java
  services/download/src/main/java/app/coronawarn/server/services/download/DownloadServiceConfig.java
  services/download/src/main/java/app/coronawarn/server/services/download/FederationBatchProcessor.java
  services/download/src/main/java/app/coronawarn/server/services/download/normalization/FederationKeyNormalizer.java
  services/download/src/main/resources/application.yaml
  services/download/src/test/java/app/coronawarn/server/services/download/DownloadIntegrationTest.java
  services/download/src/test/java/app/coronawarn/server/services/download/FederationBatchProcessorTest.java
  services/download/src/test/java/app/coronawarn/server/services/download/FederationBatchTestHelper.java
  services/download/src/test/java/app/coronawarn/server/services/download/normalization/FederationKeyNormalizerTest.java
  services/download/src/test/resources/application.yaml
Labels: federation

#821 Validate TRL/DSOS values in Submission Payloads
  common/persistence/src/main/java/app/coronawarn/server/common/persistence/domain/DiagnosisKey.java
  common/persistence/src/test/java/app/coronawarn/server/common/persistence/domain/DiagnosisKeyBuilderTest.java
  services/submission/src/main/java/app/coronawarn/server/services/submission/validation/ValidSubmissionPayload.java
  services/submission/src/test/java/app/coronawarn/server/services/submission/controller/PayloadValidationTest.java
  services/submission/src/test/java/app/coronawarn/server/services/submission/controller/SubmissionPayloadMockData.java
  services/submission/src/test/java/app/coronawarn/server/services/submission/controller/TEKDatasetGeneration.java
Labels: federation
